.monsters-container{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
    align-items: center;
}
.monster-card{
    width: calc(33% -10px);
    border: 3px solid background-image: -webkit-gradient(linear, left top, left bottom, from(darkred), to(black));
    background-image: -webkit-linear-gradient(top, darkred, black);
    background-image: -moz-linear-gradient(top, darkred, black);
    background-image: linear-gradient(to bottom, darkred, black);
    margin-left: calc(20% - 10px);
    margin-right: calc(20% - 10px);
    

    
}
.monster-card img{
    max-width: 100%;
    max-height: 80%;
    padding: 10px;
}

.myTron{
    text-align: center;
    background-color: gray;
    color: darkred;
    font-family: 'Indie Flower', cursive
}
